<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fortune</title>
  </head>
  <body>
  <h3>Your Fortune</h3>
  <h4>Hi, <%=@the_user%>, your fortune is <%=@the_fortune%></h4>
  </body>
</html>